@using BioEngine.Core.Site.Model
@model BioEngine.Core.Site.Model.EntityViewModel<BioEngine.Core.Entities.Page>
@{
    Layout = "~/Views/_Main.cshtml";
}
<article class="card mb-4 post">
    <section class="card-body">
        <header>
            <h2 class="card-title">

                @switch (Model.Mode)
                {
                    case EntityViewMode.List:
                        <a class="article-list__permalink" href="@Model.Entity.PublicUrl">@Model.Entity.Title</a>
                        break;
                    case EntityViewMode.Entity:
                        @Model.Entity.Title
                        break;
                    default:
                        throw new ArgumentOutOfRangeException();
                }
            </h2>
        </header>
        @{
            await Html.RenderPartialAsync("Blocks/Blocks", Model.ContentEntityViewModel());
        }
    </section>
    <footer class="card-footer">
        <div class="row justify-content-between">
            <div class="col-3">

            </div>
            <div class="col-5" style="text-align: right">
                @{
                    var fullUrl = Model.Site.Url + Model.Entity.PublicUrl;
                }
                <a class="btn-sm btn-blue waves-effect waves-light" href="https://www.facebook.com/sharer/sharer.php?u=@fullUrl" title="Опубликовать ссылку в Facebook" onclick="window.open(this.href, 'Опубликовать ссылку в Facebook', 'width=640,height=436,toolbar=0,status=0'); return false">
                    <i class="fab fa-facebook-f fa-fw fa-inverse"></i>
                </a>

                <a class="btn-sm btn-blue waves-effect waves-light" href="https://twitter.com/intent/tweet?text=@Model.Entity.Title+@fullUrl+via+%brcgames" title="Опубликовать ссылку в Twitter" onclick="window.open(this.href, 'Опубликовать ссылку в Twitter', 'width=800,height=300,resizable=yes,toolbar=0,status=0'); return false">
                    <i class="fab fa-twitter fa-fw  fa-inverse"></i>
                </a>

                <a class="btn-sm btn-blue waves-effect waves-light" href="https://vk.com/share.php?url=@fullUrl" title="Опубликовать ссылку во ВКонтакте" onclick="window.open(this.href, 'Опубликовать ссылку во ВКонтакте', 'width=800,height=300,toolbar=0,status=0'); return false">
                    <i class="fab fa-vk fa-fw  fa-inverse"></i>
                </a>

                <a class="btn-sm btn-blue waves-effect waves-light" href="https://t.me/share/url?url=@fullUrl&title=@Model.Entity.Title" title="Поделиться ссылкой в Telegram" onclick="window.open(this.href, 'Поделиться ссылкой в Telegram', 'width=800,height=300,toolbar=0,status=0'); return false">
                    <i class="fab fa-telegram fa-fw  fa-inverse"></i>
                </a>
                <a class="btn-sm btn-blue waves-effect waves-light" href="https://getpocket.com/edit?url=@fullUrl&title=@Model.Entity.Title" title="Добавить ссылку в Pocket" target="_blank" rel=" noopener">
                    <i class="fab fa-get-pocket fa-fw  fa-inverse"></i>
                </a>
            </div>
        </div>
    </footer>
</article>
