<a href="https://www.facebook.com/brcgamesru" target="_blank">
    <i class="fab fa-facebook-f mr-3"></i>
</a>

<a href="https://twitter.com/brcgamesru" target="_blank">
    <i class="fab fa-twitter mr-3"></i>
</a>

<a href="https://www.youtube.com/c/rubioware" target="_blank">
    <i class="fab fa-youtube mr-3"></i>
</a>

<a href="https://www.twitch.tv/brcstream" target="_blank">
    <i class="fab fa-twitch mr-3"></i>
</a>
<a href="https://discord.gg/NEEk48k" target="_blank">
    <i class="fab fa-discord mr-3"></i>
</a>

<a href="https://github.com/biowareru" target="_blank">
    <i class="fab fa-github mr-3"></i>
</a>
