<ul class="navbar-nav nav-flex-icons">
    <li class="nav-item">
        <a href="https://www.facebook.com/brcgames" class="nav-link waves-effect" target="_blank">
            <i class="fab fa-facebook-f mr-3"></i>
        </a>
    </li>
    <li class="nav-item">
        <a href="https://twitter.com/brcgames" class="nav-link waves-effect" target="_blank">
            <i class="fab fa-twitter mr-3"></i>
        </a>
    </li>
    <li class="nav-item">
        <a href="https://www.youtube.com/c/rubioware" class="nav-link waves-effect" target="_blank">
            <i class="fab fa-youtube mr-3"></i>
        </a>
    </li>
    <li class="nav-item">
        <a href="https://www.twitch.tv/brcstream" class="nav-link waves-effect" target="_blank">
            <i class="fab fa-twitch mr-3"></i>
        </a>
    </li>
    <li class="nav-item">
        <a href="https://discord.gg/NEEk48k" class="nav-link waves-effect" target="_blank">
            <i class="fab fa-discord mr-3"></i>
        </a>
    </li>
</ul>
