$roboto-font-path: '~mdbootstrap/font/roboto/';
$image-path: '~mdbootstrap/img/';
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';

@import "~bioengine.brc.frontend/src/scss/index";

body {
    background: #111 url(../img/cp2077.png) no-repeat fixed;
    background-size: cover;

    header {
        nav {
            background: rgba(0, 0, 0, 0.4);
            .navbar-brand img {
                max-height: 30px;
            }
        }
        
        
    }
}

@media (min-width: 768px) {
    body {
        header {
            nav {
                .navbar-brand img {
                    max-height: 40px;
                }
            }
        }
    }
}

@media (min-width: 992px) {
    body {
        header {
            nav {
                .navbar-brand img {
                    max-height: 50px;
                }
            }
        }
    }
}
