@import "~bootstrap/scss/bootstrap";

$roboto-font-path: './../../node_modules/mdbootstrap/font/roboto/';

$image-path: './../../node_modules/mdbootstrap/img/';
@import '~mdbootstrap/scss/mdb.scss';
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import "post";
@import "menu";
@import "sections";
@import "blocks/youtube";
@import "blocks/blockquote";
@import "blocks/file";
@import "blocks/gallery";
@import "blocks/picture";
@import "blocks/twitter";
@import "blocks/twitch";
@import "widgets/auth";
@import "widgets/pateron";

body {
    background: #415f8c url(../img/matreshka.png);

    header {
        nav {
            background: rgba(0, 0, 0, 0.8);
        }
    }
}

.card-body {
    time {
        font-size: 0.9em;
    }

    iframe {
        max-width: 100%;
    }

    img {
        max-width: 100%;
    }
}
