.card.post {
    .author {
        img {
            height: 20px;
        }

        margin-bottom: 10px;
    }

    .sections {
        margin-bottom: 25px;
    }

    .block {
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .tags {
        font-size: 0.8em;
        margin-bottom: 10px;

        a {
            color: #999;
        }
    }

}
