@model BioEngine.Core.Web.Models.BlockViewModel<BioEngine.Core.Entities.Blocks.FileBlock, BioEngine.Core.Entities.Blocks.FileBlockData>

<div class="row z-depth-1">
    <div class="col-2">
        <a href="@Model.Block.Data.File.PublicUri" title="Скачать">
            <i class="fas fa-download fa-4x"></i>
        </a>
    </div>
    <div class="col-10">
        <p>
            @Model.Block.Data.File.FileName<br/>
            @Model.Block.Data.File.HumanSize - @Model.Block.Data.File.DateUpdated.DateTime.ToShortDateString()
        </p>
    </div>
</div>
