@model BioEngine.Core.Web.Models.BlockViewModel<BioEngine.Core.Entities.Blocks.GalleryBlock, BioEngine.Core.Entities.Blocks.GalleryBlockData>

<div class="row">
    @foreach (var picture in Model.Block.Data.Pictures)
    {
        <div class="col-lg-4 col-md-12 mb-3">
            <a href="@picture.PublicUri" target="_blank">
                <img src="@picture.PictureInfo.MediumThumbnail.PublicUri" class="img-fluid z-depth-1"
                     alt="@picture.FileName"/>
            </a>
        </div>
    }
</div>
