@model BioEngine.Core.Web.Models.BlockViewModel<BioEngine.Core.Entities.Blocks.IframeBlock, BioEngine.Core.Entities.Blocks.IframeBlockData>

<div style="text-align: center">
    @* ReSharper disable once Html.Obsolete *@
    <iframe
        frameborder="0"
        height="315"
        src="@Model.Block.Data.Src"
        width="560">
    </iframe>
</div>
