@model BioEngine.Core.Web.Models.BlockViewModel<BioEngine.Core.Entities.Blocks.TwitterBlock, BioEngine.Core.Entities.Blocks.TwitterBlockData>

<blockquote class="twitter-tweet" data-tweet-id="@Model.Block.Data.TweetId">
    <div class="preloader"><i class="fas fa-spinner fa-spin"></i> Загрузка твита</div>
</blockquote>
