.block-youtube {
    .youtube-video {
        position: relative;
        width: 560px;
        max-width: 100%;
        margin: 0 auto;
        cursor: pointer;
        background-size: cover;
        min-height: 315px;

        .play-button {
            position: absolute;
            left: 50%;
            top: 50%;
            width: 68px;
            height: 48px;
            margin-left: -34px;
            margin-top: -24px;
            -moz-transition: opacity .25s cubic-bezier(0.0, 0.0, 0.2, 1);
            -webkit-transition: opacity .25s cubic-bezier(0.0, 0.0, 0.2, 1);
            transition: opacity .25s cubic-bezier(0.0, 0.0, 0.2, 1);
            z-index: 63;
            border: none;
            background-color: transparent;
            padding: 0;
            color: inherit;
            text-align: inherit;
            font-size: 100%;
            font-family: inherit;
            cursor: default;
            line-height: inherit;

            svg {
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                width: 100%;
                pointer-events: none;

                .play-button-bg {
                    -moz-transition: fill .1s cubic-bezier(0.4, 0.0, 1, 1), fill-opacity .1s cubic-bezier(0.4, 0.0, 1, 1);
                    -webkit-transition: fill .1s cubic-bezier(0.4, 0.0, 1, 1), fill-opacity .1s cubic-bezier(0.4, 0.0, 1, 1);
                    transition: fill .1s cubic-bezier(0.4, 0.0, 1, 1), fill-opacity .1s cubic-bezier(0.4, 0.0, 1, 1);
                    fill: #212121;
                    fill-opacity: .8;
                }
            }


        }

        .play-button:not([aria-disabled=true]):not([disabled]):not([aria-hidden=true]) {
            cursor: pointer;
        }

        &:hover {
            .play-button {
                svg {
                    .play-button-bg {
                        -moz-transition: fill .1s cubic-bezier(0.0, 0.0, 0.2, 1), fill-opacity .1s cubic-bezier(0.0, 0.0, 0.2, 1);
                        -webkit-transition: fill .1s cubic-bezier(0.0, 0.0, 0.2, 1), fill-opacity .1s cubic-bezier(0.0, 0.0, 0.2, 1);
                        transition: fill .1s cubic-bezier(0.0, 0.0, 0.2, 1), fill-opacity .1s cubic-bezier(0.0, 0.0, 0.2, 1);
                        fill: #f00;
                        fill-opacity: 1;
                    }
                }
            }
        }

        &.init {
            background-image: none !important;
        }
    }
}
